@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  padding: 2rem;
  border: 3px solid black;
  border-radius: 10px;
  width: 750px;
  height: 350px;
  display: flex;
  flex-direction: row;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 5rem;
}

.search-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar {
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid black;
}

@media (max-width: 750px) {
  .container {
    border: 3px solid black;
    border-radius: 10px;
    max-width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-weather-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar {
    max-width: 60%;
    border-radius: 10px;
    border: 0.5px solid black;
  }
}
